<!--The content below is only a placeholder and can be replaced.-->
<header>
  <h1>Selecciona tu Pokémon inicial!</h1>
</header>
<section>
  <!--Aquí muestra en tarjetas a los distintos pokemons -->
  <div class="card">
    <div class="card-body">
        <h3></h3>
        <img>
        <div class="inline-block-elem">
            <h3>Types:</h3>
            <ul>
                <li></li>
            </ul>
        </div>      
    </div>
  </div>
</section>
<footer>
  <h2>Has escogido a:</h2> 
  <img>
</footer>

