<div class="logo">
  <img src="../../assets/img/news.png">
</div>

<div class="container">

  <input type="text" src="" align="center">
  <button><img src="../../assets/img/lupa.png" class="search"></button>
  <div class="box1">
    <h1>ULTIMAS NOTICIAS</h1>
      <latest-news [News]="urls" [Text]="parrafo"></latest-news>
  </div>
  <div class="box2">
    <app-favorites [imgFavorites]="imgFavorites" [strFavorites]="strFavorites"></app-favorites>
  </div>
  <div class="box3">
    <h1>INTERNACIONAL</h1>
    <angular-image-slider [images]="imagesUrl"></angular-image-slider>
  </div>
  <div class="box4">
    <app-change-topic (outputImage)="addImgFavoritesArray($event)" (outputNew)="addStrFavoritesArray($event)"></app-change-topic>
  </div>
</div>
<footer>
  <div>
    &copy; Copyright 2019 Angular
  </div>
  <p>
    This product is protected by copyright and distributed under
    licenses restricting copying, distribution, and decompilation.
  </p>
</footer>

<router-outlet></router-outlet>
